{form $form}
{if $form->errors}
<div class="alert alert-block alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <ul>
	<li n:foreach="$form->errors as $error">{$error}</li>
    </ul>
</div>
{/if}

<div class="form-horizontal">
    {foreach $form->controls as $input}
        {if $input->controlPrototype->type === button}              {*Button*}
            {input $input, class=>'btn pull-right'}
        {elseif $input->controlPrototype->type === submit}         {*Submit*}
            {if $input->controlPrototype->kind === 'addRowButton'}
                <span class='span6'></span>{input $input, class=>'btn btn-success'}
                <br/>
            {elseif $input->controlPrototype->kind === "removeRowButton"}
                        <span class='span2 pull-right'></span>
                        {input $input, class=>'btn btn-danger pull-right'}
                    </div>
                </div>
            {elseif $input->controlPrototype->kind === "mainButtonNear"}
                <span class='span6 pull-right'></span>
                {input $input, class=>'btn btn-primary pull-right'}
            {elseif $input->controlPrototype->kind === "mainButtonFar"}
                <span class='span2 pull-right'></span>
                {input $input, class=>'btn btn-primary pull-right'}
            {else}
                {input $input, class=>'btn pull-right', style=>'margin-right: 10px;'}
            {/if}
        {elseif $input->controlPrototype->kind === 'texyla'}
            <div class="control-group">
                {label $input, class=>"control-label" /}
                <div class="controls">
                    <div id="tabs" style="width: 70%; height: 400px">
                        <ul>
                          <li><a href="#tabs-1" >{_"Texy"}</a></li>
                          {*<li><a href="#tabs-2" class="toTexy">{_"Preview"}</a></li>*}
                          <li><a href="#tabs-2">{_"Help"}</a></li>
                        </ul>
                        
                        <div id="tabs-1">
                            {input $input, style=>'width: 98%; min-height: 98%', rows=> 16}
                        </div>
                        {*<div id="tabs-2" style="overflow: auto; height: 80%">
                            {!$input->getValue()|texy}
                        </div>*}
                        <div id="tabs-2" style="overflow: auto; height: 80%">
                            <h3>{_"Allowed HTML tags"}</h3>
                            <dl class="dl-horizontal">
                                <dt>{_"Headings"}</dt>
                                <dd>h3, h4, h5</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>{_"Texts"}</dt>
                                <dd>div, p, b, i</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>{_"Lists"}</dt>
                                <dd>ul, ol, li</dd>
                            </dl>
                            
                            <dl class="dl-horizontal">
                                <dt>{_"Tables"}</dt>
                                <dd>table, td, tr, th,...</dd>
                            </dl>
                            
                            <dl class="dl-horizontal">
                                <dt>{_"Links"}</dt>
                                <dd>a</dd>
                            </dl>
                            
                            <dl class="dl-horizontal">
                                <dt>{_"Picture"}</dt>
                                <dd>img</dd>
                            </dl>
                            
                            <h3>{_"Allowed TEXY tags"}</h3>
                            <dl class="dl-horizontal">
                                <dt>{_"Headings"}</dt>
                                <dd>h3. Manuadl\n  (h3., h4., h5.)</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>{_'Bold'}</dt>
                                <dd>*text*</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>{_'Italic'}</dt>
                                <dd>_text_</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>{_'Plain text'}</dt>
                                <dd>/---text Lorem ipsum \---</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>{_'Lists'}</dt>
                                <dd>* Apple  (<a href="http://texy.info/cs/syntax" target="_new">more info</a>)</dd>
                            </dl>
                            <h4>{_'Modificators'}</h4>
                            <dl class="dl-horizontal dl-horizontal-wider">
                                <dt class="span3">(title)</dt>
                                <dd>{_'descriptive, used as attribute title or alt (for images)'}</dd>
                            </dl>
                            <dl class="dl-horizontal dl-horizontal-wider">
                                <dt class="span3">[class1 #id]</dt>
                                <dd>{_'determine class and/or ID'}</dd>
                            </dl>
                            <dl class="dl-horizontal dl-horizontal-wider">
                                <dt class="span3">&#123;class:blue&#125;</dt>
                                <dd>{_'direct CSS style'}</dd>
                            </dl>
                            <dl class="dl-horizontal dl-horizontal-wider">
                                <dt class="span4">&#123;target:_blank&#125;</dt>
                                <dd>{_'direct HTML attribute'}</dd>
                            </dl>
                            <dl class="dl-horizontal dl-horizontal-wider">
                                <dt style="width: 150px;">aligment</dt>
                                <dd>
                                    <ul>
                                        <li>left &lt;</li>
                                        <li>right &gt;</li>
                                        <li>center &lt;&gt;</li>
                                        <li>justify =</li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    
                    
            {if $input->controlPrototype->kind !== "row"}    
                </div>
            </div>
            {/if}    
        {else}
            <div class="control-group">
                {if $input->controlPrototype->required === "true"}
                    {var $foo = "control-label required"}
                {else}
                    {var $foo = "control-label"}
                {/if}
                
                {label $input, class=>$foo /}    
                    
                <div class="controls">
                    
                    {if $input->controlPrototype->length === "longer"}
                        {input $input, class=>"span5"}
                    {else}
                        {input $input}
                    {/if}
            {if $input->controlPrototype->kind !== "row"}    
                </div>
            </div>
            {/if}
        {/if}
    
    {/foreach}
</div>
{/form}
