<div class="row-fluid">
    {var $pagesNumber = ceil($paginator->itemCount/$paginator->itemsPerPage)}
    <div class="span6">
        {(($paginator->page-1)*$paginator->itemsPerPage)+1} - {$paginator->page*$paginator->itemsPerPage < $paginator->getLength()?:$paginator->getLength() } {_'of', 1} {$paginator->itemCount}
    </div>
    <div class="span6 text-right">
        {if $paginator->page==1}
            <span class="disabled btn btn-mini"><i class="icon-arrow-left"></i></span>
        {else}
            <a class="btn btn-mini" n:href="this, pagin => 1"><i class="icon-arrow-left"></i></a>
        {/if}

        {if $pagesNumber<7}
            {for $i=1;$i<=$pagesNumber;$i++}
                {if $paginator->page==$i}
                    <span class="disabled btn btn-mini">{$i}</span>
                {else}
                    <a class="btn btn-mini" n:href="this, pagin => $i">{$i}</i></a>
                {/if}
            {/for}
        {else}

        {/if}

        {if $paginator->page==$pagesNumber}
            <span class="disabled btn btn-mini"><i class="icon-arrow-right"></i></span>
        {else}
            <a class="btn btn-mini" n:href="this, pagin => $pagesNumber"><i class="icon-arrow-right"></i></a>
        {/if}
    </div>  
</div>