{block head}
    <link rel="stylesheet" href="{$basePath}/css/github.css" type="text/css">
{/block}

{block content}
<h1>{_'Text edit'}</h1>

{include '../components/form.latte', form => $presenter[addForm]}
<div class="texyla2"></div>


{/block}

{block scripts}
    <script>     
        $(function() {
          $( "#tabs" ).tabs();
        });
        
        {*
        $(function() {
            $('.toTexy').click(function(){
                $text = $('#frmaddForm-text').val();
                alert ($text);
                
                $.get({link texyRewrite!},{ "text": $text }, function(payload) {
                    alert("a");
                    alert(payload.text);
                    $('#tabs-2').html(payload.text);
                });
            });
        });*}
    </script>

{/block}