{block content}
<h1>{$textInstance->name}</h1>

{!$textInstance->text|texy}

<br/>
<br/>

<a href="{plink 'Text:edit', pagin => $pagin, id=> $textInstance->id}" class="btn pull-right">{_'Edit'}</a>
<a href="{plink 'Text:list', pagin => $pagin}" class="btn pull-right">{_'Back to list'}</a>