{block head}
    <link rel="stylesheet" href="{$basePath}/css/github.css" type="text/css">
{/block}

{block content}
<h1>{_'CV edit'}</h1>

{include '../components/form.latte', form => $presenter[addForm]}
<div class="texyla2"></div>


{/block}

{block scripts}
    <script>     
        $(function() {
          $( "#tabs" ).tabs();
        });
    </script>
{/block}