{block content}
<h1>{_"My CV"}</h1>

<div class="form-horizontal">
<div class="control-group">
    <div class="controls">
        <div id="tabs" style="width: 70%; height: 400px">
            <ul>
              <li><a href="#tabs-1" >{_"CV"}</a></li>
            </ul>   
            <div id="tabs-1">
                {!$cvInstance->cvText|texy}
            </div>
        </div>
    </div>
</div>
    <span class="span2 pull-right"></span>
    <a href="{plink 'CV:edit'}" class="btn btn-primary pull-right">{_'Edit'}</a>    
</div>


<br/>
<br/>


{/block}
{block scripts}
    <script>     
        $(function() {
          $( "#tabs" ).tabs();
        });
    </script>
{/block}