{block head}
    <link rel="stylesheet" href="{$basePath}/css/datepicker.css">
    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <link rel="stylesheet" href="{$basePath}/css/grido.css">
{/block}

{block content}
        <h1>{_'Alumni list'}</h1>
        {if $user->isInRole('admin')}
        <div class="btn-group">       
            <a n:href="Users:list, usersFilter=>'active'" n:class="$usersFilter=='active'?'active btn':'btn'">{_'Active users'}</a>
            <a n:href="Users:list, usersFilter=>'banned'" n:class="$usersFilter=='banned'?'active btn':'btn'">{_'Banned users'}</a>
            <a n:href="Users:list, usersFilter=>'pending'" n:class="$usersFilter=='pending'?'active btn':'btn'">{_'Pending users'}</a>
            <a n:href="Users:list, usersFilter=>'deleted'" n:class="$usersFilter=='deleted'?'active btn':'btn'">{_'Deleted users'}</a>
            <a n:href="Users:list, usersFilter=>'all'" n:class="$usersFilter=='all'?'active btn':'btn'">{_'All users'}</a>
        </div>
        {/if}
        <div class="pull-right">
            <a href="#" id="opener" class="btn" data-toggle="popover" 
               data-placement="bottom" title data-content="pokus" data-original-title="A Title" >
                {_'Help'}   
            </a>
            <a href="{plink :Users:registration}" class="btn btn-primary">
                <i class="icon-plus icon-white"></i>
                {_'Register new Alumni'}   
            </a>
        </div>
        <br/>
        <br/>
        {control grid}
        
        <div id="dialog" style="display: none;" title={_"Help"}>
            <div class="row-fluid">
                <div class="span1"><i class="icon-eye-open pull-right"></i></div>
                <div class="span3">{_'View'}</div>
            </div>
            {if $usersFilter=='active'}
                <div class="row-fluid">
                    <div class="span1"><i class="icon-pencil pull-right"></i></div>
                    <div class="span3">{_'Edit'}</div>
                </div>
                <div class="row-fluid">
                    <div class="span1"><i class="icon-remove pull-right"></i></div>
                    <div class="span3">{_'Bann'}</div>
                </div>  
                <div class="row-fluid">
                    <div class="span1"><i class="icon-trash pull-right"></i></div>
                    <div class="span3">{_'Delete'}</div>
                </div>  
            {elseif $usersFilter=='banned'}
                <div class="row-fluid">
                    <div class="span1"><i class="icon-ok-sign pull-right"></i></div>
                    <div class="span3">{_'Unbann'}</div>
                </div>
            {elseif $usersFilter=='pending'}
                <div class="row-fluid">
                    <div class="span1"><i class="icon-ok pull-right"></i></div>
                    <div class="span3">{_'Confirm'}</div>
                </div>
            {elseif $usersFilter=='deleted'}
                <div class="row-fluid">
                    <div class="span1"><i class="icon-circle-arrow-left pull-right"></i></div>
                    <div class="span3">{_'Retrieve'}</div>
                </div>
            {/if}
        </div>       
{/block}

{block scripts}
    <script src="{$basePath}/js/ajax.js"></script>
    <script src="{$basePath}/js/netteForms.min.js"></script>
    <script src="{$basePath}/js/utils.js"></script>
    <script src="{$basePath}/js/jquery.nette.js"></script>
    <script src="{$basePath}/js/jquery.ajaxform.js"></script>
    <script src="{$basePath}/js/jquery.grido.js"></script>
    <script src="{$basePath}/js/jquery.zclip.min.js"></script>
    <script>
        $(function() {
            $( "#dialog" ).dialog({
                position: ["top","center"],
              autoOpen: false,
              resizable: false,
              draggable: false,
              show: {
                
                effect: "blind",
                duration: 800
              },
              hide: {
                effect: "blind",
                duration: 800
              }
            });

            $( "#opener" ).click(function() {
                $( "#dialog" ).dialog( "open" );
            });
            
        });
        
    </script>
{/block}