
{block content}
<h1>{_'Alumni registration'}</h1>

{include '../components/form.latte', form => $presenter[registrationForm]}

{/block}

{block scripts}
    <script>     
        $(function() {
          $( "#tabs" ).tabs();
        });
    </script>
{/block}