{block content}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span1"></div>
    <div class="span2">
      <div class="row-fluid text-center">
          {if $userInstance->photo}
            <img src="{$basePath}/avatars/{$userInstance->photo}.jpg" class="img-rounded" />
          {else}
            <img src="{$basePath}/img/no-photo.png" class="img-rounded" />
          {/if}
      </div>      
        
      <div class="row-fluid text-center">
          <div class="span12"></div>
      </div>
    </div>
    <div class="span8">
        <div class="pull-right"><a class="btn" href="{link :Users:return, backlink=>$backlink}">{_'Return'}</a></div>
        <div class="row-fluid">
            <h1>{$userInstance->name} {$userInstance->surname} ({$userInstance->yearOfBirth})</h1>
        </div>
        
  
        <div id="tabs" style="width: 80%">
        <ul>
          <li><a href="#tabs-1" >{_"Info"}</a></li>

          {if $user->isInRole('admin')}<li><a href="#tabs-2">{_"Status"}</a></li>{/if}
          {if $userInstance->bio}<li><a href="#tabs-3">{_"Bio"}</a></li>{/if}
          
          {if $userInstance->allowedCV == 1 && $userInstance->cv_id != null}<li><a href="#tabs-4">{_"CV"}</a></li>{/if}
          
          
        </ul>

        <div id="tabs-1">
            <div class="">
                <h4 class="span12">{_'Contact'}</h4>
              </div>
              <dl class="dl-horizontal">
                  <dt>{_'Email:'}</dt>
                  <dd>{$userInstance->username}</dd>
              </dl>
              <dl class="dl-horizontal">
                  <dt>{_'Tel:'}</dt>
                  <dd>{$userInstance->telephone?$userInstance->telephone:'-'}</dd>
              </dl>

              {if $userInstance->facebook || $userInstance->twitter || $userInstance->linkedin}
              <div class="">
                <h4 class="span12">{_'Social Sites'}</h4>
              </div>
                  {if $userInstance->facebook}
                      <div class="row-fluid">
                          <dl class="dl-horizontal">
                              <dt><img src="{$basePath}/img/facebook.png" class="img-rounded" length="20px" width="20px" alt="facebook"/></dt>
                              <dd><a href="{$userInstance->facebook}">{$userInstance->facebook}</a></dd>
                      </dl>
                      </div>
                  {/if}
                  {if $userInstance->twitter}
                      <div class="row-fluid">
                          <dl class="dl-horizontal">
                              <dt><img src="{$basePath}/img/twitter.png" class="img-rounded" length="20px" width="20px" alt="twitter"/></dt>
                          <dd><a href="{$userInstance->twitter}">{$userInstance->twitter}</a></dd>
                      </dl>
                      </div>
                  {/if}
                  {if $userInstance->linkedin}
                      <div class="row-fluid">
                          <dl class="dl-horizontal">
                              <dt><img src="{$basePath}/img/linkedin.png" class="img-rounded" length="20px" width="20px" alt="linkedin"/></dt>
                          <dd><a href="{$userInstance->linkedin}">{$userInstance->linkedin}</a></dd>
                      </dl>
                      </div>
                  {/if}
              
              {/if}
            
              <div class="">
                <h4 class="span12">
                    {_'IAESTE member'}
                          ({$userInstance->memberSince|date:'%m.%Y'}
                          {if $userInstance->alumniSince!='-0001-11-30 00:00:00'}
                              {$userInstance->alumniSince|date:' - %m.%Y'}
                          {else}
                               - *
                          {/if})
                </h4>
              </div>
              <dl class="dl-horizontal">
                  <dt>{_'LC:'}</dt>
                  <dd>{$userInstance->Lc->lcName}</dd>
              </dl>
              <dl class="dl-horizontal">
                  <dt>{_'Position:'}</dt>
                  <dd>{$userInstance->position->positionName}</dd>
              </dl>
        </div>
        {if $user->isInRole('admin')}<div id="tabs-2" style="overflow: auto; height: 80%">
            <dl class="dl-horizontal">
                <dt>{_'Last logged:'}</dt>
                <dd>{if $userInstance->lastLogged}{$userInstance->lastLogged|date:'%H:%M:%S %d.%m.%Y'}{else} - {/if}</dd>
            </dl>
            <dl class="dl-horizontal">
                {var $state = $userInstance->state}
                <dt>{_'Status:'}</dt>
                <dd>{if $state == 0}{_"pending"}{elseif $state == 1}{_"banned"}{elseif $state == 2}{_"active"}{else}{_"deleted"} ({$userInstance->deleted|date:'%d.%m.%Y'}) {/if}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{_'Last edited:'}</dt>
                <dd>{if $userInstance->edited} {$userInstance->edited|date:'%H:%M:%S %d.%m.%Y'}{else} - {/if}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{_'CV allowed:'}</dt>
                <dd>{if $userInstance->allowedCV==0}{_"N"}{else}{_"Y"}{/if}</dd>
            </dl>
        
        </div>{/if}
        {if $userInstance->bio}<div id="tabs-3" style="overflow: auto; height: 80%">
            <div class="row-fluid">
              <div class="span12">{!$userInstance->bio|texy}</div>
            </div>
        </div>{/if}   
        {if $userInstance->allowedCV == 1 && $userInstance->cv_id != null}
        <div id="tabs-4" style="overflow: auto; height: 80%">
            <div class="row-fluid">
              <div class="span12">{!$userInstance->cv->cvText|texy}</div>
            </div>
        </div>{/if}   
            
        
    </div>  
        
        
        
    </div>
    
    <div class="span1"></div>
  </div>
</div>

{/block}
    
{block scripts}
    <script>     
        $(function() {
          $( "#tabs" ).tabs();
        });       
    </script>
{/block}