{block head}

{/block}

{block content}
<div class="row">
    <h1>{_'Positions list', 1}</h1>
</div>
<div class="row">
    <a href="{plink :Position:add, 'pagin'=>$paginator->page}" class="btn btn-primary pull-right">
        <i class="icon-plus icon-white"></i>
        {_'Add new Position'}   
    </a>
</div>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="span10">{_'Name', 1}</th>
                    <th class="span2"></th>
                </tr>
            </thead>
            <tbody>
                {foreach $positionList as $position}
                <tr>
                    <td>{$position->positionName}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                {_'Action'}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{plink :Position:edit, 'id'=>$position->id, 'pagin'=>$paginator->page}">
                                        <i class="icon-pencil"></i>
                                        {_'Edit'}
                                    </a>
                                </li>
                                <li>
                                    <a href="{plink :Position:delete, 'id'=>$position->id, 'pagin'=>$paginator->page}">
                                        <i class="icon-remove"></i>
                                        {_'Delete'}
                                    </a> 
                                </li>
                            </ul>
                        </div> 
                    </td>
                </tr>
                {/foreach}  
            </tbody>
        </table>
        {include '../components/paginator.latte'}

    </div>
</div> 
{/block}