<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span6">
                <p></p>
            </div>
            <div class="span6">
                
              <p class="right">  {_'All rights reserved.'} IAESTE Czech republic 2013</p>
            </div>
        </div>
    </div>
</footer>
