<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="margin: 0; padding: 0;">

        <h1  style="color: #0189BD;
                    font-size: 1.5em;
                    text-align: left;
                    margin-left: 0px;
                    padding-bottom: 10px;"> {$title} </h1>

    <p style="color: black; margin-left: 20px;">{$salut}</p>
    <p style="color: black; margin-left: 20px;">{$text}</p>
    <p style="color: #0189BD; margin-left: 20px;">{$redirect}</p>
    <p style="color: black; margin-left: 20px;">{$regards}</p>

    <div style="padding: 4px 0;
                margin-top: 30px;
                border-top: 1px solid #e5e5e5;
                background-color: #f5f5f5;">
        {foreach $foot as $foo}
        <p style="text-align: left;
                  margin-left: 20px;
                  margin-bottom: 0;
                  color: #777;">{$foo}</p>
        {/foreach}
    </div>
    

</body>
</html>