<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="margin: 0; padding: 0;">

        <h1  style="color: #0189BD;
                    font-size: 1.5em;
                    text-align: left;
                    margin-left: 0px;
                    padding-bottom: 10px;"> {$title} </h1>

    <p style="color: black; margin-left: 20px;">{$text}</p>
</body>
</html>