<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{plink :Homepage:about}">{_'IAESTE ALUMNI'}</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>   
                </ul>
                {if $user->isLoggedIn()}
                    <ul class="nav">
                        <li><a href="{plink :Users:list}">{_'Alumni list'}</a></li>
                        <li><a href="{plink :Homepage:info}">{_'Info'}</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li>
                            <p class="navbar-text">
                            {if $user->isInRole('admin')}
                                <b>{_'Administrator'}</b>
                            {else}
                                {_'user'} <b>{$user->getIdentity()->name} {$user->getIdentity()->surname}</b>
                            {/if}
                            {_'is logged.'} </p>
                        </li>        
                        <li class="dropdown">
                            <a href="" role="button" class="dropdown-toggle no-ajax" data-toggle="dropdown">
                                {_"Action"}<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                {if $user->isInRole('admin')}
                                    <li>
                                        <a class="no-ajax" tabindex="-1" href="{plink :Lc:}">
                                            {_'Lc administration', 1}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="no-ajax" tabindex="-1" href="{plink :Position:}">
                                            {_'Position administration', 1}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="no-ajax" tabindex="-1" href="{plink :Text:list}">
                                            {_'Texts administration', 1}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="no-ajax" tabindex="-1" href="{plink :Mail:list}">
                                            {_'Mails administration', 1}
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a class="no-ajax" tabindex="-1" href="{plink :Constant:editAdminEmail}">
                                            {_'Change administrator email', 1}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="no-ajax" tabindex="-1" href="{plink :Sign:changePassword}">
                                            {_'Change password', 1}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="no-ajax" tabindex="-1" href="{plink :Constant:editContact}">
                                            {_'Edit contact', 1}
                                        </a>
                                    </li>
                                {else}
                                    <li>
                                        <a class="no-ajax" tabindex="-1" href="{plink :Sign:changePassword}">
                                            {_'Change password', 1}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="no-ajax" tabindex="-1" href="{plink :Users:editProfile}">
                                            {_'Edit profile', 1}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="no-ajax" tabindex="-1" href="{plink :Users:photoUpload}">
                                            {_'Upload photo', 1}
                                        </a>
                                    </li>
                                    {if $user->getIdentity()->allowedCV == 1}
                                    <li>
                                        <a class="no-ajax" tabindex="-1" href="{plink :CV:edit}">
                                            {_'Edit CV', 1}
                                        </a>
                                    </li>
                                    {/if}
                                {/if}  
                                <li class="divider"></li>
                                <li>
                                    <a class="no-ajax" tabindex="-1" href="{plink :Sign:out}">
                                        {_'Log out', 1}
                                    </a>
                                </li>
                            </ul>
                        </li>                       
                    </ul>
                {else}
                    <ul class="nav pull-right">
                        <li><p class="navbar-text">{_'User is not logged in.'}
                               <a href="{plink :Sign:in}">{_'Log in'}</a></p></li> 
                    </ul>
                {/if}
            </div>
        </div>
    </div>
</div>