{block head}

{/block}

{block content}
<div class="row">
    <h1>{_'Mails list', 1}</h1>
</div>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="span1">{_'ID', 1}</th>
                    <th class="span3">{_'Subject', 1}</th>
                    <th class="span7">{_'Text', 1}</th>
                    <th class="span1"></th>
                </tr>
            </thead>
            <tbody>
                {foreach $mailList as $mail}
                <tr>
                    <td>{$mail->mailID}</td>
                    <td>{$mail->subject|truncate:30, '…'}</td>
                    <td>{$mail->text|truncate:100, '…'}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                {_'Action'}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{plink :Mail:edit, 'id'=>$mail->id, 'pagin'=>$paginator->page}">
                                        <i class="icon-pencil"></i>
                                        {_'Edit'}
                                    </a>
                                </li>
                                <li>
                                    <a href="{plink :Mail:preview, 'id'=>$mail->id, 'pagin'=>$paginator->page}">
                                        <i class="icon-eye-open"></i>
                                        {_'Preview'}
                                    </a> 
                                </li>
                            </ul>
                        </div> 
                    </td>
                </tr>
                {/foreach}  
            </tbody>
        </table>
        {include '../components/paginator.latte'}

    </div>
</div> 
{/block}