{block content}
<h1>{$mailInstance->mailID}</h1>
<div class="box">
{include '../components/Mailer/email.latte', title=>$mailInstance->subject, 
                                             salut=>$mailInstance->salut,
                                             text=>$mailInstance->text,
                                             regards=>$mailInstance->regards,
                                             redirect=>'$redirect',
                                             foot=>array('a')}
</div>
<br/>
<br/>
<a href="{plink 'Mail:list'}" class="btn pull-right">{_'Back'}</a>