{block content}
    <h1>{$textInstance->name}</h1>
    {!$textInstance->text|texy}
    <br/>
    <br/>
    {if !$user->isLoggedIn()}
    <a class="btn" href="{link :Sign:in}">{_'Log in'}</a>
    <a class="btn" href="{link :Users:registration}">{_'Register'}</a>
    {/if}
    {if !$user->isLoggedIn() || !$user->isInRole('admin')}
    <a class="btn" href="{link :Homepage:contactUs}">{_'Contact us'}</a>
    {/if}
{/block}

