{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags|upper}iaeste alumni{/block}</title>

        {*bootstrap*}
	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{$basePath}/css/bootstrap-responsive.min.css">
        
        {*others*}
        <link rel="stylesheet" href="{$basePath}/css/hacks.css">
        
        {*jqueryui*}
        <link rel="stylesheet" 
              href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" 
              type="text/css">
        
        {*Colored codes*}
        <link rel="stylesheet" type="text/css" href="https://jush.svn.sourceforge.net/svnroot/jush/trunk/jush.css">
	{block head}{/block}
</head>

<body>
	<script> document.body.className+=' js' </script>

	{control navbar}
        <br/>
        {var mail=false}
        <div class="container">
            {foreach $flashes as $flash}
                <div class="alert {$flash->type}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>

                    <p>{if $flash->type=='alert-error'} <strong>{_'ERROR: '}</strong>

                    {elseif $flash->type=='alert-success'} <strong>{_'SUCCESS: '}</strong>
                    
                    {elseif $flash->type=='alert-info'} <strong>{_'INFO: '}</strong>
                    
                    {/if}{$flash->message}</p>
                    {if $flash->type==alert-email}
                        {var mail=$flash->message}
                        {*<p><a href="#" class="btn btn-warning btn-small">{_'Save to Clipboard'}</a></p>*}
                        
                    {/if}
                </div>
            {/foreach}
            {include #content}
        </div>
        
        {control footer}
        
        <script src="{$basePath}/js/jquery.min.js"></script>
        <script src="{$basePath}/js/jquery.hashchange.min.js"></script>
        <script src="{$basePath}/js/jquery.maskedinput.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" type="text/javascript"></script>
        <script src="{$basePath}/js/bootstrap-alert.js"></script>
        <script src="{$basePath}/js/bootstrap-button.js"></script>
        <script src="{$basePath}/js/bootstrap-carousel.js"></script>
        <script src="{$basePath}/js/bootstrap-collapse.js"></script>
        <script src="{$basePath}/js/bootstrap-datepicker.js"></script>
        <script src="{$basePath}/js/bootstrap-dropdown.js"></script>
        <script src="{$basePath}/js/bootstrap-modal.js"></script>
        <script src="{$basePath}/js/bootstrap-popover.js"></script>
        <script src="{$basePath}/js/bootstrap-scrollspy.js"></script>
        <script src="{$basePath}/js/bootstrap-tab.js"></script>
        <script src="{$basePath}/js/bootstrap-tooltip.js"></script>
        <script src="{$basePath}/js/bootstrap-transition.js"></script>
        <script src="{$basePath}/js/bootstrap-typehead.js"></script>     
            
        {if $mail!=false}
            {*<script src="{$basePath}/js/ZeroClipboard.js"></script>*}
        {/if}

        
        {*form validation*}
        <script src="{$basePath}/js/live-form-validation.js"></script>
        

        {*Colored codes*}
        <script src="https://jush.svn.sourceforge.net/svnroot/jush/trunk/jush.js"></script>
        
        {block scripts}{/block}
</body>
</html>
