/*!
 * 
 */
body{
}

/*** FOOTER ***/
.footer {
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}
.footer p {
	text-align: left;
	margin-bottom: 0;
	color: #777;
}
.footer .right{
	text-align: right;
}
.footer-links {
	margin: 10px 0;
}
.footer-links li {
	display: inline;
	padding: 0 2px;
}
.footer-links li:first-child {
	padding-left: 0;
}


/* Tweak navbar brand link to be super sleek */

body > .navbar {
  font-size: 13px;
}

/* Change the docs' brand */
body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin:  0 20px 0 20px;
  float: left;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

.box {
  border: 1px solid #000
}

.dl-horizontal dt{
  width: 80px;
}

.dl-horizontal dd {
  margin-left: 100px;
}

h4{
  margin-bottom: 4px; 
}

.dl-horizontal-wider dt{
  width: 120px;
}

.dl-horizontal-wider dd {
  margin-left: 180px;
}



/** Others **/
.required{
  color: red;
}